.card-wrapper {
  color: black;
}

.card-content span {
  display: block;
  margin-top: 10px;
}

.card-content_title {
  font-size: 18px;
}

.card-img img {
  width: 100%;
  height: 260px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
