a {
  text-decoration: none;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  margin: 0;
}

.general-layout {
  height: 100vh;
}

.general-layout-body {
  margin: 0 auto;
  width: 930px;
  padding: 50px 0;
}

.headline-search {
  margin-bottom: 30px;
}
.headline-search h1 {
  margin-bottom: 15px;
}

.headline-search form button {
  width: 150px;
  border: none;
  background-color: greenyellow;
  border-radius: 3px;
  padding: 3px 0;
  font-weight: bold;
}
.headline-search form button:hover {
  background-color: green;
  color: #fff;
}

.headline {
  overflow: hidden;
}
.headline-item {
  float: left;
  margin: 10px;
  width: calc(33% - 20px);
  height: 450px;
  background: #fff;
}
